#chat {
    padding-left: 2%;
    padding-right: 2%;

    div {
        display: inline-block;
    }

    #messageField {
        min-width: 80%;
        vertical-align: middle;
        width: auto;

        mat-form-field {
            width: 100%;
        }
    }

    #sendButton {
        position: relative;
        float: right;
        vertical-align: middle;
    }
}

.form {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#chat-content {
    height: 100%;
}