dist: xenial
sudo: false

language: node_js
node_js:
  - "10"

cache:
  directories:
     - ./node_modules

install:
  - npm ci
  - npm i npx
script:
  - sh scripts/generate-icon-and-splash.sh
  - npm run build:prod:github-pages && sh scripts/handle-github-pages-error-page.sh

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist/shared-shopping-list
  on:
    branch: master
