
/* Chat containers */
.right {
    float: right;
}

.left {
    float: left;
}

.chatMessage {
    border: 2px solid #dedede;
    background-color: #ebe5e5;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 85%;
    padding: 10;

    span {
        font-size: 2vw;
    }

    p {
        font-size: 3vw;
        color: #673ab7;
        overflow-wrap: break-word;
        width: 80%;
    }

    p.right {
        color: black;
    }

    img {
        float: left;
        max-width: 30px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

    img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }
}

.guestMessage {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.chatMessage::after {
    content: "";
    clear: both;
    display: table;
}

.time-guest {
    color: #aaa;
}

.time-message {
    color: #999;
}

#divider {
    visibility: hidden;
    float: left;
    padding: 10px;
    margin: 40px 0;
    width: 85%;
    overflow-wrap: break-word;
}