app-chat-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
}

#chatContent {
    height: 100%;
    padding-top: 15%;

    mat-spinner {
        width: 20%;
        height: 20%;
        position: absolute;
        top: 40%;
        margin-left: 40%;
    }

    form {
        position: fixed;
        bottom: 0;
        width: 100%;
        background:rgba(255,255,255,0.85);
        padding-left: 2%;

        #messageField, #sendButton {
            display: inline-block;
        }

        #messageField {
            min-width: 80%;
            vertical-align: middle;
            width: auto;

            mat-form-field {
                width: 100%;
            }
        }

        #sendButton {
            float: right;
            margin-right: 2%;
        }
    }
}