<!-- Top toolbar with Back button -->
<app-chat-toolbar (onBackButton)="openShoppingList()"></app-chat-toolbar>

<!-- Chat -->
<div id="chatContent">
    <!-- Loader -->
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>

    <!-- Messages -->
    <div *ngIf="messages | async as mexs; else loading" id="chatMessages">
        <app-chat-widget
            [myUid]="uid"
            [messages]="mexs"
            (send)="sendMessage($event)">
        </app-chat-widget>
    </div>

    <!-- Input Field & Send button -->
    <form [formGroup]="newMessageForm" (ngSubmit)="onSubmit()">
        <div id="messageField" mat-dialog-content>
            <mat-form-field>
                <input matInput placeholder="Message" formControlName="text">
            </mat-form-field>
        </div>
        <div id="sendButton">
            <button mat-icon-button>
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </form>
</div>