<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="openShoppingList()">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <span>Shopping List</span>
    </mat-toolbar-row>
</mat-toolbar>

<div id="chat-content">
    <ng-template #loading>
        Loading ...
    </ng-template>
    <div *ngIf="messages | async as mexs; else loading">
        <app-chat-widget
            [myUid]="uid"
            [messages]="mexs"
            (send)="sendMessage($event)">
        </app-chat-widget>
    </div>

    <form class="form" [formGroup]="newMessageForm" (ngSubmit)="onSubmit()">
        <div id="chat">
            <div id="messageField" mat-dialog-content>
                <mat-form-field>
                    <input matInput placeholder="Message" formControlName="text">
                </mat-form-field>
            </div>
            <div id="sendButton">
                <button mat-icon-button>
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>