<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Shopping List</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button (click)="openChat()">
            <mat-icon>message</mat-icon>
        </button>
        <button mat-icon-button (click)="openMyShoppingList()">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteAll()">
            <mat-icon>delete</mat-icon>
        </button>

        <app-menu (menuClicked)="menuClicked($event)"></app-menu>
    </mat-toolbar-row>
</mat-toolbar>
