<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Shopping List</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="openMyShoppingList()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteAll()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="inviteUser()">
          <mat-icon>person_add</mat-icon>
          <span>Invite</span>
        </button>
        <button mat-menu-item (click)="joinShoppingList()">
          <mat-icon>group</mat-icon>
          <span>Join</span>
        </button>
        <button mat-menu-item (click)="authService.signOut()">
          <mat-icon>directions_run</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-accordion class="example-headers-align">
  <div *ngIf="items | async as shoppingList">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Buy
        </mat-panel-title>
        <mat-panel-description>
            {{(shoppingList | toDoOnly).length }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list @list>
        <app-shopping-item *ngFor="let item of shoppingList | toDoOnly; trackBy: trackShoppingItem"
          (itemClicked)="onItemClicked(item)"
          (doneClicked)="onItemDone(item)"
          [item]="item">
        </app-shopping-item>
      </mat-list>
    </mat-expansion-panel>
  </div>

  <div *ngIf="items | async as shoppingList">
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
        Done
        </mat-panel-title>
        <mat-panel-description>
        {{(shoppingList | doneOnly).length }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list @list>
          <app-shopping-item *ngFor="let item of shoppingList | doneOnly; trackBy: trackShoppingItem"
            (itemClicked)="onItemClicked(item)"
            (doneClicked)="onItemUndo(item)"
            [item]="item">
          </app-shopping-item>
        </mat-list>
      </mat-expansion-panel>
  </div>
</mat-accordion>

<div class="fab-button-row">
  <button mat-fab color="primary" (click)="showAddItemBottomSheet()">
      <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="delete icon">add_shopping_cart</mat-icon>
  </button>
</div>