<app-menu-toolbar
  (menuAction)="menuAction($event)"
  (toolbarAction)="toolbarAction($event)">
</app-menu-toolbar>

<ng-template #loading>
  <app-loading-screen></app-loading-screen>
</ng-template>

<div *ngIf="items | async as shoppingList; else loading">
  <mat-list @list>
    <h3 mat-subheader>Buy ({{ (shoppingList | toDoOnly).length }})</h3>
    <app-shopping-item *ngFor="let item of shoppingList | toDoOnly; trackBy: trackShoppingItem"
      (itemClicked)="onItemClicked(item)"
      (doneClicked)="onItemDone(item)"
      [item]="item">
    </app-shopping-item>
    <mat-divider></mat-divider>

    <h3 mat-subheader>Done ({{(shoppingList | doneOnly).length }})</h3>
    <app-shopping-item *ngFor="let item of shoppingList | doneOnly; trackBy: trackShoppingItem"
      (itemClicked)="onItemClicked(item)"
      (doneClicked)="onItemUndo(item)"
      [item]="item">
    </app-shopping-item>
  </mat-list>
</div>

<div class="fab-button-row">
  <button mat-fab color="primary" (click)="showAddItemBottomSheet()">
      <mat-icon class="fab-icon" aria-hidden="false" aria-label="delete icon">add_shopping_cart</mat-icon>
  </button>
</div>